#MainContent{
    width: 100%;
    height:100%;
}

.MainContentHeader{
    background: cornflowerblue;
    height:60px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.MainContentHeader-title{
    font-size: 15pt;
    color: white;
    line-height: 60px;
}

.MainContent-main{
    width: 100%;
    height:100%;
}


